<section class="panel panel-default">
	<section class="panel-heading">
		<p class="panel-title">Proyectos</p>
	</section>
	<section class="panel-body">
		<ul class="list-group">
			<% @projects.each do |project| %>
				<li class="list-group-item">
					<span class="glyphicon glyphicon glyphicon-file" aria-hidden="true"></span>
					<%= project.title%>
					<span class="pull-right">
						<%= link_to '', project, class: 'btn btn-xs btn-info glyphicon glyphicon-search' %>
						<%= link_to '', project, method: :delete, data: { confirm: 'estas seguro?' }, class: 'btn btn-xs btn-info glyphicon glyphicon-trash' %>
						<%= link_to '', edit_project_path(project),class: 'btn btn-xs btn-info glyphicon glyphicon-pencil' %>
					</span>
				</li>
			<%end%>
			
		</ul>
		
	</section>
</section>




